.trigger {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.content {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  padding: 1.25rem;
  width: 16.25rem;

  @media (prefers-reduced-motion: no-preference) {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    will-change: transform, opacity;

    &[data-state="open"] {
      &[data-side="top"] {
        animation-name: slideDownAndFade;
      }
      &[data-side="right"] {
        animation-name: slideLeftAndFade;
      }
      &[data-side="bottom"] {
        animation-name: slideUpAndFade;
      }
      &[data-side="left"] {
        animation-name: slideRightAndFade;
      }
    }

    &:focus {
      box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
        hsl(206 22% 7% / 20%) 0 10px 20px -15px;
    }
  }
}

.arrow {
  fill: #fff;
}

.close {
  all: unset;
  font-family: inherit;
  border-radius: 100%;
  height: 25;
  width: 25;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: absolute;
  top: 5;
  right: 5;
}

@keyframes slideUpAndFade {
  0% {
    opacity: 0;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  0% {
    opacity: 0;
    transform: translateX(-2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  0% {
    opacity: 0;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  0% {
    opacity: 0;
    transform: translateX(2px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
