.tl-timeera {
  &.tl-timeera-color0 .tl-timeera-background {
    background-color: #b4d0b9;
  }

  &.tl-timeera-color1 .tl-timeera-background {
    background-color: #adcfdc;
  }

  &.tl-timeera-color2 .tl-timeera-background {
    background-color: #f5e6af;
  }

  &.tl-timeera-color3 .tl-timeera-background {
    background-color: #ecc0a7;
  }

  &.tl-timeera-color4 .tl-timeera-background {
    background-color: #e4e2e0;
  }

  &.tl-timeera-color5 .tl-timeera-background {
    background-color: #dec69a;
  }

  .tl-timeera-content-container .tl-timeera-content .tl-timeera-text h2.tl-headline {
    color: #333;
  }
}
