[id$="layout-right"] {
  .tl-slide-content {
    display: flex !important;
  }

  .tl-text {
    order: 1;
  }

  .tl-media {
    order: 2;
  }
}

[id$="layout-left"] {
  .tl-slide-content {
    display: flex !important;
  }

  .tl-media {
    order: 1;
  }

  .tl-text {
    order: 2;
  }
}

// [id$="layout-center"] {
//   background-color: tomato;

//   .tl-slide-content {
//     display: flex !important;
//   }

//   .tl-media {
//     order: 1;
//   }

//   .tl-text {
//     order: 2;
//   }
// }
