// [id$="layout-center"],
[id$="layout-left"],
[id$="layout-right"] {
  .tl-slide-content {
    display: flex !important;
  }
}

[id$="layout-right"] {
  .tl-text {
    order: 1;
  }

  .tl-media {
    order: 2;
  }
}

[id$="layout-left"] {
  .tl-media {
    order: 1;
  }

  .tl-text {
    order: 2;
  }
}

// [id$="layout-center"] {
//   background-color: tomato;

//   .tl-media {
//     order: 1;
//   }

//   .tl-text {
//     order: 2;
//   }
// }

.h5p-tl-tags-container {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.h5p-timeline--indexed {
  .tl-headline-date,
  .tl-timeaxis {
    display: none !important;
  }
}

.h5p-timeline-wrapper {
  height: 45rem;
  max-height: 95vh;
  max-width: 100%;
}

.tl-timeline {
  height: 100%;
}

.tl-slide .tl-slide-content-container .tl-slide-content .tl-media {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.tl-slide .tl-slide-content-container .tl-slide-content .tl-text {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.tl-timeera.tl-timeera-color0 .tl-timeera-background {
  background-color: gainsboro;
}

.tl-timeera.tl-timeera-color1 .tl-timeera-background {
  background-color: #cb997e;
}

.tl-timeera.tl-timeera-color2 .tl-timeera-background {
  background-color: #b7b7a4;
}

.tl-timeera.tl-timeera-color3 .tl-timeera-background {
  background-color: #a5a58d;
}

.tl-timeera.tl-timeera-color4 .tl-timeera-background {
  background-color: #6b705c;
}

.tl-timeera.tl-timeera-color5 .tl-timeera-background {
  background-color: beige;
}
