.h5p-timeline {
  /**
   * {1} The content controls need a z-index above the z-index of the timeline
   */
  .h5p-content-controls {
    z-index: 10; /* {1} */
  }

  .tl-slide .tl-slide-scrollable-container {
    margin: 0 auto;
  }
  
  .tl-slide-content {
    max-width: 80rem !important;
  }
}
