.tl-slidenav-previous,
.tl-slidenav-next {
  transition: left 0.2s ease, right 0.2s ease;
  top: 50% !important; /* Timeline library sets top in JS. */

  .tl-slidenav-content-container {
    .tl-slidenav-title {
      display: none;
    }
    .tl-slidenav-description {
      display: none;
    }

    .tl-slidenav-icon {
      margin: 0;
    }
  }

  &:hover {
    .tl-slidenav-icon::before {
      color: color-mix(in srgb, currentColor 90%, #ffffff 10%);
    }
  }
}

.tl-slidenav-previous:hover {
  left: -0.25rem;
}

.tl-slidenav-next:hover {
  right: -0.25rem;
}
